upstream docker {
  server unix:/var/run/docker.sock;
}

server {
  listen 4242 default_server;
  location / {
    proxy_pass http://docker;
    # auth_basic_user_file /etc/nginx/.htpasswd;
    # auth_basic "Access restricted";
  }
}