parameters:
    ravaj.database.driver:           pdo_mysql
    ravaj.database.host:             127.0.0.1
    ravaj.database.port:             ~
    ravaj.database.name:             ravaj
    ravaj.database.path:             ~
    ravaj.database.user:             root
    ravaj.database.password:         ~

    ravaj.mailer.transport:          smtp
    ravaj.mailer.host:               127.0.0.1
    ravaj.mailer.port:               ~
    ravaj.mailer.user:               ~
    ravaj.mailer.password:           ~

    ravaj.locale:                    fa
    ravaj.secret:                    abc

    ravaj.currency:                  IRR

    ravaj.cache:
        type:                file_system

    ravaj.phpcr.backend:
        type: doctrinedbal
        connection: default
        caches:
            meta: doctrine_cache.providers.phpcr_meta
            nodes: doctrine_cache.providers.phpcr_nodes
            
    ravaj.phpcr.workspace: default
    ravaj.phpcr.user: admin
    ravaj.phpcr.pass: admin